<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <meta charset="utf-8" />
	<script src="angular.min.js"></script>
	<script src="customfilter.js"></script>
    <title>AngularJS Module 1 - CustomFilter</title>
</head>
<body ng-app="CustomFilterCheck">
   <center><h1>AngularJS Module 1 - CustomFilter</h1></center> 
    <div ng-controller="FilterCheckController">
        <input type="text"  placeholder="Enter Your Name" ng-model="FilterCheck"/>
        <input type="button" value="Check" ng-click="Check()"/><br />
        <p ng-style="msgstyle">{{message}}</p>
        <p ng-style="namestyle">{{name}}</p>
    </div>
</body>
</html>
