<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
	<script src="angular.min.js"></script>
	<script src="app.js"></script>
    <title>AngularJS Module 1</title>
</head>
<body ng-app="LunchCheck">
   <center><h1>AngularJS Module 1 - Solution</h1></center> 
    <div ng-controller="LunchCheckController">
        <input type="text"  placeholder="Enter Favourite Lunch" ng-model="LunchCheck"/>
        <input type="button" value="Check if Too Much" ng-click="Check()"/><br />
        <p ng-style="msgstyle">{{message}}</p>
    </div>
</body>
</html>
